html {
  height: 100%;
}
body {
  position: relative;
  margin: 0 auto;
  height: 100%;
  background: #f0eff5;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button{
  -webkit-tap-highlight-color: transparent;
}
.c-index {
  height: 100%;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-item {
  flex-grow: 1;
}

.btn {
  border: 0;
}
.c-index {
    /*transform: scale(1,1);*/
}
.btn {
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 99;
}
.pie-r{
  border-style:solid;
  border-color: #FCAEAE #F7E1BB #CF5544 #FCAEAE;
  overflow:hidden;
}
.pie-b{
  border-style:solid;
  border-color: #9892D5 #AEF7FC #9892D5 #9892D5;
  overflow:hidden;
}
.pie-y{
  border-style:solid;
  border-color: #F7E1BB #3E4AB8 #3E4AB8 #F7E1BB;
  overflow:hidden;
}


.finish {
  background: #FF7E7E;
}

.beginning {
  background: #5DC96A;
}

.begin {
  background: #D8C199;
}
