html {
  height: 100%;
}

body {
  position: relative;
  margin: 0 auto;
  height: 100%;
  background: #f0eff5;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, .btn {
  -webkit-tap-highlight-color: transparent;
}

.c-index {
  height: 100%;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-item {
  flex-grow: 1;
}

.c-index {
  /*transform: scale(1,1);*/
}

.btn {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
a.btn {
  text-decoration: none;
}
a.btn a.btn:visited, a.btn:active{
  color: inherit;
}
button.btn {
  border: 0;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
